:root {
  --main: pink;
  --second: hotpink;
  --third: cyan;
  --diff: rgb(255, 217, 0);
  --bgc: #191922;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
  background-color: var(--bgc);
  color: var(--main);
}

*,
*::after,
*::before {
  margin: 0;
  border-radius: 10px;
  font-family: "Comfortaa", cursive;
}

/* Link settings */
a {
  color: var(--second);
  text-decoration: none;
}

a:hover {
  text-shadow: 1px 1px 3px var(--second);
}

/* Main container styling */
.container {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 15px;
}

/* Styles of page */

.top {
  text-align: center;
}

.mainContent {
  margin-top: 25px;
  width: 80%;
  position: relative;
  left: 10%;
}

.mainContent input {
  height: 1.5em;
}

.myBox {
  margin: 10px;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.2); */
  transition: 0.3s ease-in;
}

#URLbox {
  width: 80%;
  margin: 15px;
  text-align: center;
}

#shortButton {
  background-color: var(--main);
  border: none;
  color: #333349;
  height: 1.8em;
  cursor: pointer;
}

#shortButton:hover {
  box-shadow: none;
}

#results a {
  cursor: pointer;
}

#results h2,
h3,
h6 {
  margin: 1.5vh;
}

.hidden {
  display: none;
  transition: 0.3s ease-in;
}

.footer {
  margin-top: 2vh;
}
